
.bar{
	
}

.navbar.navbar-default li a:active{
    background-color: yellow;
}

.navbar.affix {
    position: fixed;
    top:0px;
    left: 0;
    right: 0;
    width:auto;
    background-color:#4d4d4d;
}

.notsomargin{
	margin-left: 150px;
	margin-right: 150px;
}

.nav.navbar-nav li a, .navbar-brand{
	color: white;
}

.nav.navbar-nav li a:hover{
	background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border-radius: 3px;
    border-bottom: 1px solid white;
}

.navbar-header{
	padding-right: 10px;
	padding-left: 25px;
	border-radius: 4px;
}

.navbar-header .navbar-brand:hover{
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.3);
	color: white;
	border-bottom: 1px solid white;
}


.navbar-default{
	border-color: transparent;
}

.extra-margin{
	margin-left: 180px;
	margin-right: 180px;
}

body{
	font-family: 'Josefin Sans', sans-serif;
}

body, html{
	height: 100%;
}

.white-text, .navbar-header .navbar-brand{
	color: white;
}

.navbar{
	background-color: transparent;
}

.bg-cover{
	 background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url('mountain.jpg');
	 height: 100%;
	 background-position: center;
	 background-repeat: no-repeat;
	 background-size: cover;
}

.maincontent{
	position: relative;
	top: 35%;
}

.jumbotron{
	background-color:transparent !important;
}

.margintop{
	margin-top: 50px;
}

.marginbottom{
	margin-bottom: 20px;
}

.centercontent{
	text-align: center;
}

.carousel {
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
}

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}


.foot{
	background-color: #4d4d4d;
	padding: 50px;
	color: white;
}

.paddingside{
	padding-right: 50px;
	padding-left: 50px;
}

.img-circle , #icon{
    border-radius: 50%;
    border: 5px solid white;

}

.btnwhite{
	margin-right: 5px;
	border-radius: 4px;
    background-color: transparent;
    color: white;
    border: 1px solid white; 
}

.btnwhite:hover{
    background-color: rgba(0, 102, 255, 0.3);
    color: white;
    border: 1px solid white; 
}

.hrgray{
	background-color: black;
}
